node_modules/
build/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.DS_Store
Thumbs.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local backup folders
backup-api-old-*/
backup-encoding-*/
